<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <div>
        <h3>Edit Your profile</h3><br>
        <a href="{%url 'profile'%}">Profile</a>
        <hr>
        <form method="POST">
            {%csrf_token%}
            <textarea name="bio" id="bio" placeholder="Your Bio">{{profile.bio}}</textarea>
            <br>
            <input type="text" name="first_name" id="first_name" value="{{user.first_name}}"/>
            <br>
            <input type="text" name="last_name" id="last_name" value="{{user.last_name}}"/>
            <br>
            <input type="email" name="email" id="email" value="{{user.email}}"/>
            <br>
            <input type="text" name="profession" id="profession" value="{{profile.profession}}"/>
            <br>
            <input type="workplace" name="workplace" id="workplace" value="{{profile.workplace}}"/>
            <br>
            <select name="gender" id="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
            <br>
            <select name="relationStatus" id="relationStatus">
                <option value="single">Single</option>
                <option value="married">Married</option>
                <option value="divorced">Divorced</option>
                <option value="in_ralation_ship">In a relationship</option>
                <option value="seperate">Seperate</option>
                <option value="complicated">Complicated</option>
            </select>
            <input type="submit" value="Save"/>
        </form>
    </div>
</body>
</html>